# IDEA

/.idea/
out/
*.ipr
*.iws
*.iml

# Gradle
build/
.gradle/

# JMH
generated_tests/

# Minecraft
run/

# Symlinks
fabric/src/main/resources/assets
fabric/src/main/resources/data
fabric/src/main/resources/terrarium.mixins.json
