{
  "schemaVersion": 1,
  "id": "${mod_id}",
  "version": "${version}",
  "name": "${mod_name}",
  "description": "${description}",
  "authors": [
    "${mod_author}"
  ],
  "contact": {
    "sources": "${sources}"
  },
  "license": "${license}",
  "environment": "*",
  "entrypoints": {
    "main": [
      "dev.gegy.terrarium.fabric.TerrariumFabricInitializer"
    ],
    "fabric-datagen": [
      "dev.gegy.terrarium.fabric.TerrariumFabricDataGenerator"
    ]
  },
  "mixins": [
    "${mod_id}.mixins.json",
    "${mod_id}.fabric.mixins.json"
  ],
  "accessWidener": "${mod_id}.accesswidener",
  "depends": {
    "fabricloader": ">=0.16",
    "fabric-api": "*",
    "minecraft": "${minecraft_version_range}",
    "java": ">=21"
  }
}
